body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-size: 2rem;
}

#registerSubmit {
    background-color: grey;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.card:hover {
    background-color: whitesmoke;
}